<head>
<style>
:root {
    --positive: #000;

    --primary: #AEAEEE;

    --negative: #fff;
    --negative-semitransparent: rgba(255,255,255, .5)
}

*,*::before,*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 3fr;
    padding-top: 3rem;
    padding-right: 20%;
    padding-left: 20%;
    gap: 1rem;
    font-family: 'Mulish', sans-serif;
}

img,picture {
    max-width: 100%;
    max-height: 100%;
}

aside {
    position: relative;
}

nav {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 3rem;
    gap: 0.25rem;

}

nav a {
    color: currentColor;
    text-decoration: none;
    display: flex;
    padding-right: 0.7rem;
    padding-left: 0;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    transition: all .2s;
    border-radius: 1rem;
    height: 2em;
}


nav a:first-child {
    height: 5em;
}

nav a.active:not(:first-child) {
    background-color: var(--primary);
} 

nav a:not(:first-child):hover {
    padding-right: 0.5rem;
    padding-left: 0.2rem;
}

nav a::after {
    height: 2px;
    width: 0;
    content: "";
    display: block;
    background-color: var(--primary);
    transition: all .2s;
}

nav a:not(.active):not(:first-child):hover::after {
    width: 100%;
}

section {
    position: relative;
}

section picture {
    transition: all .3s;
}

section > .foreground {
    position: absolute;
    bottom: 0;
    padding: 1rem;
    opacity: 0;
    transition: all .3s;
    z-index: 3;
    background-color: var(--negative-semitransparent);
    border-left: 3px solid var(--primary);
}

section > .foreground h2 {
    margin: 0;
}

section > .foreground:hover {
    opacity: 1;
}




@media (orientation: landscape) {
    /* DEFAULT */
}

@media (orientation: portrait) {
    
}

@media screen and (max-width: 1200px) {
    body {
        padding-right: 5rem;
        padding-left: 5rem;
    }
}

@media screen and (max-width: 1000px) {
    body {
        padding-right: 1rem;
        padding-left: 1rem;
    }
}

@media screen and (max-width: 800px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 3rem auto;
    }

    nav {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        gap: 0;
    }

    nav a {
        padding: 0 0.5rem;
        margin: 0 0.5rem;
    }

    nav a:not(:first-child):hover {
        padding: 0 1rem;
        margin: 0 0;
    }


    nav a:nth-child(2) {
        order: 1;
    }

    nav a:nth-child(3) {
        order: 2;
    }

    nav a:first-child {
        order: 3;
        width: 8rem;
    }

    nav a:nth-child(4) {
        order: 4;
    }

    nav a:nth-child(5) {
        order: 5;
    }

    section > .foreground {
        position: static;
        opacity: 1;

        border-left: none;
        border-bottom: 3px solid var(--primary);
    }

}

@media screen and (max-width: 600px) {
    body {
        padding-top: 0rem;
    }

    nav a {
        padding: 0 0.5rem;
        margin: 0;
    }

    nav a:not(:first-child):hover {
        padding: 0 0.5rem;
        margin: 0;
    }

    nav a:first-child {
        width: 5rem;
    }
}

@media screen and (max-width: 450px) {
    nav {
        font-size: 0.8em;
    }
}
</style>
</head>